<!DOCTYPE html>
<html>
    <title>
    
    </title>
<head>
	<title>Binder Sign-Up</title>
	<link rel="icon" href="https://binder.sites.tjhsst.edu/images/icon.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://binder.sites.tjhsst.edu/css/profile.css"></head>
<body>
    <div class="topnav">
        <a href="https://binder.sites.tjhsst.edu">Home</a>
        <a class="active">Profile</a>
        <a href="https://binder.sites.tjhsst.edu/matchTutor">Tutors</a>

    </div>
       <div class="about"> 
        <p1>{{firstname}} {{lastname}}</p1>
        <p>{{tutor_tutee}}</p>
        <p2>About:</p2><br>
        <p2>Grade: {{grade}}</p2><br>
        <p2>School: {{school}}</p2>
        <br>
        <p>Phone Number: {{contact_info}}</p>
        </div>
    </div>
    <div class="container">    
        
        <div class = "box">
            <div class = "icon"><img src="https://binder.sites.tjhsst.edu/images/info.PNG" class="center"></div>
        </div>

    </div>
    
</body>
</html>